doctype
html
    

    div
        h1(style="text-align: center;") TENNIS-MATCH

    div
        h2(style="text-align: center;" id="winner") 

    div(style="text-align: center;")
        h1(id="p1score" style="font-size:80px ;text-align: center; padding: 30px; display: inline;") 0
        h1(style="font-size:80px ;text-align: center; padding: 30px; display: inline;") -
        h1(id="p2score" style="font-size:80px ;text-align: center; padding: 30px; display: inline;") 0

    body
        div(style="padding-top: 50px; padding-left: 120px;")
            button(id="playerName1" style="height: 100px; width: 400px; float:inline-start; padding-left: 20px;" onclick="addScore1()") Player1
            button(id="playerName2" style="height: 100px; width: 400px; float:inline-start; padding-left: 20px;" onclick="addScore2()") Player2
        div(style="padding-left:375px; padding-top: 30px;")
            button(style="height: 50px; width: 300px; text-align: center;" id='reset' onclick="resetScores()") Reset Game

    script(src='script.js')